<div id="container_p">
  <div class="container">
    <h1 style="text-align: center; padding-top: 40px;">Edit Weight Page</h1>

    <div class="row d-flex justify-content-center">
      <div class="col-6">
      <%= form_with(model: @weight, url: weight_path(@weight), local: true) do |form| %>
        <% if @weight.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@weight.errors.count, "error") %> prohibited this weight from being saved:</h2>

            <ul>
            <% @weight.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <form>
          <div class="form-group">
            <%= form.label :name %></br>
            <%= form.text_field :name, class:"input" %>
          </div>

          <div class="form-group">
            <%= form.label :monday %></br>
            <%= form.text_field :monday, class:"input" %>
          </div>
          
          <div class="form-group">
            <%= form.label :tuesday %></br>
            <%= form.text_field :tuesday, class:"input" %>
          </div>

          <div class="form-group">
            <%= form.label :wednesday %></br>
            <%= form.text_field :wednesday, class:"input" %>
          </div>

          <div class="form-group">
            <%= form.label :thursday %></br>
            <%= form.text_field :thursday, class:"input" %>
          </div>

          <div class="form-group">
            <%= form.label :friday %></br>
            <%= form.text_field :friday, class:"input" %>
          </div>

          <div class="form-group">
            <%= form.label :saturday %></br>
            <%= form.text_field :saturday, class:"input" %>
          </div>

          <div class="form-group">
            <%= form.label :sunday %></br>
            <%= form.text_field :sunday, class:"input" %>
          </div>
          
          <div class="actions">
            <%= form.submit "Update Weight", class:"btn btn-outline-success my-2", id: "update-weight" %>
          </div>
        </form>    
        <% end %>
      </div>  
      </div>
    <div class="d-flex justify-content-center"><%= link_to 'Back', weights_path, class:"btn btn-outline-dark my-4", id: "back" %></div>
  </div>  
</div>