<div id="container_p">
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= javascript_pack_tag 'bmi', 'data-turbolinks-track': 'reload' %>

<div class="container">
<h1 style="text-align: center; padding-top: 40px;">Weights Index Page</h1>
<div class="d-flex justify-content-center">
  <table>
    <thead>
      <tr>
        <th style="text-align: center">Name</th>
      </tr>
    </thead>
    <tbody>
      <% @weights.each do |weight| %>
        <tr>
          <td><%= weight.name %></td>
          <td><%= link_to "Show", weight_path(weight), class:"btn btn-outline-success mx-2" %></td>
          <td><%= link_to "Edit", edit_weight_path(weight), class:"btn btn-outline-success mx-2" %></td>
          <td><%= link_to "Destroy", weight_path(weight), method: :delete, data: {confirm: "Are you sure?" }, class:"btn btn-outline-danger mx-2" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</br>
<div class="d-flex justify-content-center"><%= link_to 'New Weight', new_weight_path, class:"btn btn-outline-success" %></div>
</br>
<div class="d-flex justify-content-center">
  <div class="bmi-calculator">
    <h2>BMI Calculator</h2>
    <div class="controls">
      <form>
        <div class="height">
          <h3>Height (in cm)</h3>
          <input type="text" id="height" placeholder="Height in cm" />
        </div>

        <div class="weight">
          <h3>Weight (in kg)</h3>
          <input type="text" id="weight" placeholder="Weight in kg" />
        </div>
      </form>
    </div>
    <br />

    <div class="result">
      <button class="calculate-btn">Calculate</button>

      <div class="result-message">
        <span class="bmi">0.00</span> BMI
      </div>

      <div class="interpretation-message">
        <p></p>
      </div>

      <div class="error-message">
        <p>Please enter valid height and weight.</p>
      </div>
    </div>
  </div>
</div> 
</br> 
</div>
</div>